body {
  background-color: #d4e8e8;
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #d17bc4;
}

.top-buttons {
  margin-top: 20px;
}
.btn-block {
  display: block;
  width: 100%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.navbar-nav {
  margin-right: 30px;
}
.search-form {
  margin-left: 50px;
}
.navbar {
  background: linear-gradient(to right, #db73b5, #6aa2c9);
  padding: 10px;
}

button {
  background-color: #6aa2c9;
  color: white; 
  border: none; 
  padding: 10px 20px; 
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 5px; 
}

#cardContainer .card {
  max-width: 300px;  
  height: 500px;    
  margin: 0 auto;    
  overflow: hidden;  
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

#cardContainer .card-body {
  overflow: hidden;     
  text-overflow: ellipsis; 
  white-space: nowrap;  
}

.card {
  border: 1px solid #db73b5;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.navbar a.nav-link:hover {
  color: #ffd700;
}

.logo-container {
  display: flex;
  align-items: center; 
  justify-content: center; 
  height: 150px;
}

.logo-img {
  width: 450px; 
  max-height: 400px; 
  height: auto; 
}

.logo-text {
  font-size: 200 px; 
  font-weight: bold;
  color: #6aa2c9; 
  margin: 0; 
  text-align: left; 
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 300px; 
  margin: 0 auto; 
}

.card-body {
  padding: 20px;
}

.list-group-item {
  text-align: center;
}

.card-body h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.list-group {
  margin-top: 10px;
}

.banner {
  background-color: #db73b5; 
  color: white; 
  font-weight: bold;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.carousel {
  max-width: 40%;
  margin: 0 auto;
}

.carousel img {
  width: 100%; 
  height: auto; 
  object-fit: contain;
  max-height: 300px;
}

